.App {
  text-align: center;
}

canvas {
  display: inline-block;
  border: 1px solid gray;
  border-radius: 3px;
  margin: 2em;
}

.intro {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

button {
  font-size: 1.5em;
  padding: .4em;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

@keyframes zoom {
    0% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
    100% {
        transform: scale(2.0);
        -webkit-transform: scale(2.0);
    }
}

.loading {
  display: inline-block;
  font-size: 1.5em;
  font-weight: bold;
  animation: zoom 1s ease-in-out infinite alternate;
  -webkit-animation: zoom 1s ease-in-out infinite alternate;
}

.error {
  display: inline-block;
  font-size: 1.5em;
  font-weight: bold;
  color: red;
}

.predictions {
  display: inline-block;
  border: 1px solid gray;
  vertical-align: top;
  margin-top: 2em;
  width: 300px;
  border-radius: 3px;
}

.predictions td {
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  width: 100%;
}

.predLabel {
  text-align: center;
  padding: .5em;
}

.predPercent {
  text-align: left;
}
.predPercentLabel {
  text-align: left;
  float: right;
  padding: .8em .5em 0 0;
}
.predBar {
  background-color: red;
  width: 50px;
  height: 40px;
}
